.calc {
  margin: 50px auto 0;
  max-width: 400px;

  @media (max-width: 440px) {
    margin: 50px 16px 0;
  }
}

.result {
  background-color: #585150;
  color: #fff;
  min-height: 60px;
  padding: 20px;

   span {
    display: block;
    border-bottom: 1px dashed #fff;
   }
}


